@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }
}

/* Login & Register Pages */
.auth {
  @apply w-full h-lvh flex items-center justify-center;
}

.content {
  @apply w-1/3 py-7 px-4 max-sm:w-5/6 max-lg:w-2/3 max-xl:w-1/2 flex flex-col items-center justify-center gap-6 bg-white rounded-3xl;
}

.logo {
  @apply w-52 h-auto;
}

.form {
  @apply flex flex-col items-center gap-5;
}

.input {
  @apply flex items-center justify-between px-5 py-3 rounded-2xl cursor-pointer shadow-2xl;
}

.input-field {
  @apply w-[300px] max-sm:w-full bg-transparent outline-none;
}

.button {
  @apply w-full px-5 py-3 mt-5 mb-7 rounded-xl cursor-pointer bg-blue-1 hover:bg-red-1 text-white text-body-bold;
}

.link {
  @apply text-base-medium hover:text-red-1;
}

/* Main Container */
.main-container {
  @apply h-screen flex justify-between gap-5 px-10 py-3 max-lg:gap-8;
}

/* Top Bar */
.topbar {
  @apply top-0 sticky px-10 py-5 flex items-center justify-between bg-blue-2;
}

.menu {
  @apply flex items-center gap-8 max-sm:hidden;
}

.profilePhoto {
  @apply w-11 h-11 rounded-full object-cover object-center;
}

/* Bottom Bar */
.bottom-bar {
  @apply fixed bottom-0 z-50 w-full flex justify-between items-center px-5 py-2 bg-white sm:hidden
}

/* Profile Page */
.profile-page {
  @apply mt-16 flex flex-col gap-11 items-center justify-center;
}

.edit-profile {
  @apply flex flex-col gap-9
}

.profile {
  @apply w-1/3 max-sm:w-5/6 max-lg:w-2/3 max-xl:w-1/2 flex flex-col items-center justify-center gap-6 bg-white rounded-3xl;
}

.btn {
  @apply flex items-center justify-center rounded-xl p-3 bg-gradient-to-l from-blue-1 to-blue-3 text-body-bold text-white;
}

/* Chat List */
.chat-list {
  @apply h-screen flex flex-col gap-5 pb-20;
}

.input-search {
  @apply px-5 py-3 rounded-2xl bg-white outline-none;
}

.chats {
  @apply flex-1 flex flex-col bg-white rounded-3xl py-4 px-3 overflow-y-scroll custom-scrollbar;
}

/* Chat Box */
.chat-box {
  @apply flex items-start justify-between p-2 rounded-2xl cursor-pointer hover:bg-grey-2;
}

.current-chat {
  @apply bg-blue-2;
}

.chat-info {
  @apply flex gap-3;
}

.last-message {
  @apply w-[120px] sm:w-[250px] truncate;
}

/* Contacts */
.create-chat-container {
  @apply flex flex-col gap-5;
}

.contact-bar {
  @apply flex gap-7 items-start max-lg:flex-col;
}

.contact-list {
  @apply h-screen w-1/2 max-lg:w-full flex flex-col gap-5 bg-white rounded-3xl py-5 px-8 mb-20;
}

.contact {
  @apply flex gap-3 items-center cursor-pointer;
}

.create-chat {
  @apply w-1/2 max-lg:w-full flex flex-col gap-7;
}

.input-group-name {
  @apply bg-white rounded-2xl px-5 py-3 outline-none ;
}

.selected-contact {
  @apply text-base-bold p-2 bg-pink-1 rounded-lg;
}

/* ChatDetails */
.chat-details {
  @apply h-screen flex flex-col bg-white rounded-2xl;
}

/* Chat Header */
.chat-header {
  @apply flex items-center gap-4 px-8 py-3 text-body-bold;
}

/* Chat Body */
.chat-body {
  @apply flex-1 flex flex-col gap-5 bg-grey-2 p-5 overflow-y-scroll custom-scrollbar;
}

.message-box {
  @apply flex gap-3 items-start;
}

.message-profilePhoto {
  @apply w-8 h-8 rounded-full;
}

.message-info {
  @apply flex flex-col gap-2;
}

.message-photo {
  @apply w-40 h-auto rounded-lg;
}

.message-text {
  @apply w-fit bg-white p-3 rounded-lg text-base-medium;
}

.message-text-sender {
  @apply w-fit bg-purple-2 text-white p-3 rounded-lg text-base-medium;
}

/* Message Input */
.send-message {
  @apply w-full flex items-center justify-between px-7 py-3 rounded-3xl cursor-pointer bg-white;
}

.prepare-message {
  @apply flex items-center gap-4;
}

.send-icon {
  @apply w-10 h-10 rounded-full hover:scale-125 ease-in-out duration-300;
}

/* BottomBar */
.bottombar {
  @apply bottom-0 sticky px-10 py-5 flex items-center justify-between sm:hidden;
}
